.search {
  position: relative;
}

.search-input {
  -webkit-appearance: none;
  background-color: var(--bg-primary);
  border-radius: 4px;
  outline: 0;
  border: none;
  padding: 12px 24px 12px 12px;
  color: white;
  width: 160px;
  font-size: 12px;
}

.search-input:focus {
  box-shadow: 0 0px 2px 4px rgba(0, 0, 0, 0.12);
}

.search-input::-webkit-search-decoration,
.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-results-button,
.search-input::-webkit-search-results-decoration {
  display: none;
}

.search-btn {
  align-items: center;
  background: transparent;
  border-radius: 4px;
  border: none;
  color: #fff;
  display: flex;
  height: 24px;
  justify-content: center;
  line-height: 0;
  padding: 0;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
}

.search-btn:hover,
.search-btn:focus {
  outline: 0;
  cursor: pointer;
  opacity: 0.9;
  background-color: #282c34;
}

.search-btn:hover .icon,
.search-btn:focus .icon {
  opacity: 1;
}

.search-btn .icon {
  height: 14px;
  width: 14px;
  display: block;
  opacity: 0.75;
}
